= paginate(@event_groups)
%table.event-group-list
  %thead
    %tr
      %th.header Service
      %th.header Message
      %th.header Type
      %th.header Env
      %th.header Last Occurrence
      %th.header
  - @event_groups.each do |event_group|
    %tr
      %td= link_to event_group.service, whoops_event_group_events_path(event_group)
      %td= link_to event_group.message.truncate(50), whoops_event_group_events_path(event_group)
      %td= link_to event_group.event_type, whoops_event_group_events_path(event_group)
      %td= link_to event_group.environment, whoops_event_group_events_path(event_group)
      %td= link_to event_group.last_recorded_at.to_s(:whoops_default), whoops_event_group_events_path(event_group)
      %td= link_to event_group.events.count, whoops_event_group_events_path(event_group)
= paginate(@event_groups)
