- content_for :sidebar do
  .space
    %h3 Filters
    = form_for event_group_filter, :url => whoops_event_groups_path, :html => {:method => "get"} do |f|
      = hidden_field_tag 'updating_filters', true
      - filter_options.each do |field_name, groups|
        %h4= field_name
        %ul.filter-selects.inputs-list
          - groups.each do |allowed_values|
            - allowed_values.each do |allowed_value|
              %li.filter-option
                %label
                  %input{:type => 'checkbox', :name => "whoops_filter[#{field_name}][#{allowed_value}]", :checked => allowed_value_checked?(field_name, allowed_value)}
                  = allowed_value
            - unless allowed_values == groups.last
              %li.divider
                %hr
  .space
    %h3 Keyword Search
    = form_tag whoops_event_groups_path, :method => "get" do |f|
      %ul.search.unstyled
        %li= text_field_tag :query
        %li= submit_tag "Submit", :class => "btn primary"

%article.module.width_full
  %header
    %h3 Events
  = render :partial => 'list'