- content_for :breadcrumbs do
  = breadcrumbs(["Event Details", whoops_event_group_path(@event_group)])
  
- content_for :sidebar do
  .space
    %h3 Instances
    = paginate @event, :previous_label => "", :next_label => ""
    %ul#instances
      - @events.each_with_index do |event, index|
        %li{:class => ("selected" if index == 0)}= link_to event.event_time.to_s(:whoops_default), event
  .space
    %h3.info-revealer
      Search
      = image_tag "/images/_ui/icn_info.png"
    %form
      %ul
        %li.info
          For more on searching, see "Search Event Details" in the 
          = link_to "README", "https://github.com/flyingmachine/whoops/blob/master/README.asciidoc"
        %li= text_area_tag :query, params[:query]
        %li
          %button search
          %button reset

%article.module.width_full
  %header
    %h3= @event_group.message
  %table
    - [:environment, :event_type, :last_recorded_at].each do |field|
      %tr
        %td.label= field.to_s.humanize
        %td= @event_group.send(field)

%article.module.width_full
  %header
    %h3 Details
  #event-details
    - if @events.empty?
      %p Your search returned no results.
    - else 
      = render :partial => "events/details", :object => @events.first, :as => :event