!!!
%html
  %head
    %title Whoops
    = stylesheet_link_tag 'whoops-application', :media => 'screen, projection'
    /[if IE]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
      
    = javascript_include_tag 'jquery-1.5.2.min', 'whoops'
    = yield :extra_javascripts
    = csrf_meta_tag

  %body{:id => @body_id}
    .topbar
      .listfill
        .container-fluid
          = link_to "Whoops", whoops_event_groups_path, :class => "brand"
    .container-fluid
      .sidebar
        = yield :sidebar
      .content
        = yield